.page-404 {
    height:400px;
    width: 400px;
    position: absolute;
    text-align: center;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-330px;
}

.fullscreen-div{
    height: 100%;
}

#negmas-log-img-404 {
    border-radius: 50%;
    max-width: 75%;
    height: auto;
}

#view-on-github {
    position: absolute;
    right: 105px;
}

#github-marker {
    border-radius: 80%;
    max-width: 50%;
    height: auto;
}

#offline-checkpoint-file {
        width: 75%;
        height: 60px;
        line-height: 60px;
        border-width: 1px;
        border-style: dashed;
        border-radius: 5px;
        text-align: center;
        margin: 10px;
}

#new-config-path {
    width: 85%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

#checkpoint-id {
    font-size: 13px;
}

#intermediate-value {
    display: none;
}

#main_layout {
    width: 100%;
    height: 500px;
}

#negmas-session_id {
    display: none;
}